<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!--head公共头部-->
  <div th:insert="~{common::head(title='医院预约挂号系统demo')}"></div>
</head>

<body class="offline-doc">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">医院预约挂号系统demo</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">
              回到首页
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/creativetimofficial/material-dashboard/issues" target="_blank">
              去Github上提交issue
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="page-header clear-filter">
    <div class="page-header-image" style="background-image: url('img/timg.jpg');"></div>
    <div class="content-center">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">登录</h4>
            <p class="card-category">请登录</p>
          </div>
          <div class="card-body">
            <form th:action="@{/login}">
              <!--用户名-->
              <div class="row">
                <div class="col-md-12">
                  <div class="">
                    <label class="bmd-label-floating">用户名</label>
                    <input type="text" class="form-control" name="username">
                  </div>
                </div>
              </div>
              <!--end 用户名-->
              <!--密码-->
              <div class="row">
                <div class="col-md-12">
                  <div class="">
                    <label class="bmd-label-floating">密码</label>
                    <input type="password" class="form-control" name="password">
                  </div>
                </div>
              </div>
              <!--end 密码-->
              <span th:text="${msg}" style="color: red"></span>
              <a th:href="@{/toRegister}" class="btn btn-primary pull-left">去注册</a>
              <input type="submit" class="btn btn-primary pull-right" value="我好了">
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--footer公共底栏-->
  <div th:insert="~{common::footer}"></div>
  <!--end footer-->
  <!--公共JS-->
  <div th:insert="~{common::publicJs}"></div>
</body>

</html>